<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <filter>
        <filter-name>VersionInfoFilter</filter-name>
        <filter-class>io.fripointer.api.filters.VersionInfoFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>VersionInfoFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>